<div class="container">
  <h1 class="form-header">Register</h1>
  <form (ngSubmit)="signUp()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="first_name">First name<span class="red-color">*</span></label>

      <input type="text" id="first_name" class="form-control"
             formControlName="first_name" required>

      <div *ngIf="registerForm.get('first_name').invalid && registerForm.get('first_name').touched" class="help-block">
        <span *ngIf="registerForm.get('first_name').errors['required']">
          {{ validationMessages.first_name.required }}
        </span>
        <span *ngIf="registerForm.get('first_name').errors['minlength']">
          {{ validationMessages.first_name.minlength }}
        </span>
        <span *ngIf="registerForm.get('first_name').errors['maxlength']">
          {{ validationMessages.first_name.maxlength }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">Last name<span class="red-color">*</span></label>

      <input type="text" id="last_name" class="form-control"
             formControlName="last_name" required>

      <div *ngIf="registerForm.get('last_name').invalid && registerForm.get('last_name').touched" class="help-block">
        <span *ngIf="registerForm.get('last_name').errors['required']">
          {{ validationMessages.last_name.required }}
        </span>
        <span *ngIf="registerForm.get('last_name').errors['minlength']">
          {{ validationMessages.last_name.minlength }}
        </span>
        <span *ngIf="registerForm.get('last_name').errors['maxlength']">
          {{ validationMessages.last_name.maxlength }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username<span class="red-color">*</span></label>

      <input type="text" id="username" class="form-control"
             formControlName="username" required>

      <div *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched" class="help-block">
        <span *ngIf="registerForm.get('username').errors['required']">
          {{ validationMessages.username.required }}
        </span>
        <span *ngIf="registerForm.get('username').errors['minlength']">
          {{ validationMessages.username.minlength }}
        </span>
        <span *ngIf="registerForm.get('username').errors['maxlength']">
          {{ validationMessages.username.maxlength }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password<span class="red-color">*</span></label>
      <input type="password" id="password" title="password" class="form-control" formControlName="password"/>

      <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" class="help-block">
        <span *ngIf="registerForm.get('password').errors['required']">
          {{ validationMessages.password.required }}
        </span>
        <span *ngIf="registerForm.get('password').errors['maxlength']">
          {{ validationMessages.password.maxlength }}
        </span>
        <span *ngIf="registerForm.get('password').errors['passwordIncorrect'] && !registerForm.get('password').errors['required']">
          {{ validationMessages.password.passwordIncorrect }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email<span class="red-color">*</span></label>

      <input type="text" id="email" class="form-control"
             formControlName="email" required>

      <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" class="help-block">
        <span *ngIf="registerForm.get('email').errors['required']">
          {{ validationMessages.email.required }}
        </span>
        <span *ngIf="registerForm.get('email').errors['email'] && !registerForm.get('email').errors['required']">
          {{ validationMessages.email.email }}
        </span>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Submit</button>
  </form>
  <div class="sign-in-container">
    <span>Have an account? </span>
    <button routerLink="/login">Log In</button>
  </div>
</div>
