<div class="container" [@fadeInAnimation] *ngIf="user">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <button class="btn btn-link" (click)="goBack()">
          <span class="glyphicon glyphicon-chevron-left"></span> Back
        </button>
        {{user.firstName}} {{user.lastName}}
        <button type="button" class="btn btn-primary" *ngIf="!editMode" (click)="toggleEditMode()">Edit</button>
      </h1>
    </div>
  </div>

  <div class="col-sm-8 col-md-12">
    <div class="col-sm-2">
      <!--profile avatar-->
      <div class="row profile-item">
        <div class="profile-avatar-wrapper">
          <div class="profile-avatar-box">
            <img class="img-responsive"
                 [src]="user.avatar || 'https://d3txbfmby5lf7l.cloudfront.net/assets/default-user-avatar-57012e2942.svg'"
                 alt="{{user.username}}">
            <div class="profile-avatar-info-box">
              <p>
                Size: some_size
              </p>
              <p>
                Type: some_type
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="profile-item">
        <div *ngIf="editMode; else baseInfo">
          <app-user-edit [user]="user" (userEdited)="onUserEdit($event)"></app-user-edit>
        </div>
        <ng-template #baseInfo><div class="wrapper">
          <div style="background-color: white;border-radius: 4px;width: 100vh">
            <div style="padding: 10px 10px 1px 10px;">
              <div>
                <label>Username : </label> {{user.username}}
              </div>
              <div>
                <label>First Name : </label> {{user.firstName}}
              </div>
              <div>
                <label>Last Name : </label> {{user.lastName}}
              </div>
            </div>
          </div>
        </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
