<div [@fadeInAnimation] class="bg">
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
  <section id="about" class="section-content about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="clearfix"></div>
          <h2 class="name">School <b>24</b></h2>
          <h3 class="position">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at atque ipsum nihil officiis quibusdam.</h3>
          <h4 class="text-center location">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quod.</h4>
          <div class="title-divider">
            <span class="hr-divider col-xs-5"></span>
            <span class="icon-separator col-xs-2"><i class="fa fa-star blue-star"></i></span>
            <span class="hr-divider col-xs-5"></span>
          </div>

        </div>

        <div class="col-md-8 col-md-offset-2 text-center">
          <p class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores blanditiis deserunt ducimus ea eius eligendi excepturi expedita fugiat fugit harum illum ipsam odio omnis optio quam quo, veniam voluptas?</p>
          <h2 class="slogan">" Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque eos expedita facilis. "</h2>
        </div>
      </div>
    </div>
  </section>
</div>
