<div class="col-md-4 text-center">
  <div class="box">
    <div class="box-content">
      <h2 class="tag-title">{{user.firstName}} {{user.lastName}}</h2>
      <h4 class="tag-title">{{user.username}}</h4>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus.
        Etiam efficitur felis vel imperdiet varius.</p>
      <br/>
      <a [routerLink]="['/users', user.id]" class="btn btn-block btn-primary">View Detail</a>
    </div>
  </div>
</div>
