<!--TODO: add directive to toggle sidebar dynamic-->
<div id="wrapper">
  <div *ngIf="isLoggedIn()" appToggleDisplay (detectMousePosition)="onDetectMousePosition($event)">
    <div id="sidebar-wrapper" [@sidebar]="sidebarState">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a (click)="goTo('/users', [getUserId()])">
            {{getUserName()}}
          </a>
        </li>
        <li>
          <a (click)="goTo('/home')">Home</a>
        </li>
        <li>
          <a (click)="goTo('/users')">Users</a>
        </li>
        <li>
          <a (click)="goTo('/events')">Events</a>
        </li>
        <li>
          <a (click)="logOut()">LogOut</a>
        </li>
      </ul>
    </div>

    <div class="toggle-button" [@sidebar]="sidebarState" (click)="toggleSidebar()" style="z-index: 100;">
      <span class="glyphicon toggle-icon"
            [ngClass]="{'glyphicon-chevron-left': sidebarState==='enter','glyphicon-chevron-right': sidebarState==='leave'}"></span>
    </div>
  </div>

  <div>
    <ng-content></ng-content>
  </div>
</div>
